[Desktop Entry]
Name=aiStop
X-GNOME-FullName=aiStarter: Stop the emulator
Comment=Kills the process left behind by aiStarter to free the port
Keywords=appinventor
Exec=sudo ~/bin/aistop
Terminal=true
Type=Application
StartupNotify=true
Icon=android-icon-red.png
Categories=Applications

